{%extends "./base.html"%} {% block title %} AGIP {% endblock %} {%block body%}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li><a href="#">Guía de Internos</a></li>
        <li><a href="#">Organigramas</a></li>
        <li><a href="#">Biblioteca</a></li>
        <li><a href="#">Dictámenes</a></li>
        <li><a href="#">Manuales de Procedimientos</a></li>
        <li><a href="#">Sistema de Gestión de la Calidad</a></li>
        <li><a href="#">Formularios Online</a></li>
        <li><a href="#">Planillas</a></li>
        <li><a href="#">Nuestra Gente</a></li>
        <li><a href="#">AGIP Web</a></li>
        <li><a href="#">Buenos Aires Web</a></li>
        <li><a href="#">BA Desde adentro</a></li>
        <li><a href="#">Aplicativos</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="text-end">
        <img src="../static/img/logoAgip.png" width="300" alt="logo_agip" />
        <p>Intranet</p>
      </div>
    </div>
  </div>
</div>

{%endblock%}
