{% extends 'base.html'%} {%block content_left%}

<ul>
  <li><a href="#">Plan de Gestión</a></li>
  <li><a href="#">Sirh</a></li>
  <li><a href="#">Telefonía</a></li>
  <li><a href="#">Infracciones</a></li>
  <li><a href="#">Utiles</a></li>
  <li><a href="#">F1-F3</a></li>
  <li><a href="#">Sau</a></li>
  <li><a href="#">Sistemas</a></li>
  <li><a href="#">Cambio clave</a></li>
  <li><a href="#">Sellos</a></li>
  <li><a href="#">DDJJ Empadronamiento Inmobiliario</a></li>
  <li><a href="#">SITI</a></li>
  <li><a href="#">Domicilio Físcal Electrónico</a></li>
  <li><a href="#">RES - Registro de Sumarios Administrativos AGIP</a></li>
  <li><a href="{% url 'inicioUtiles' %}">SU - Sistema de Útiles</a></li>
</ul>

{%endblock%}

{% block content_right %}

  <p>Aplicativos</p>

{% endblock %}
